In [3]:
import pandas as pd

rishi= pd.DataFrame([201.6,302.15])

In [4]:
rishi

        0
0  201.60
1  302.15

In [6]:
rishi[0]

0    201.60
1    302.15
Name: 0, dtype: float64

In [7]:
rishi[0] = rishi[0].astype(int)

In [8]:
rishi

     0
0  201
1  302